node_modules
.DS_Store
dist
build
.env
.env.*
!.env.example
coverage
.vscode

backend/uploads
backend/service-account*.json
backend_fastapi/service-account*.json
**/service-account*.json

# Local Netlify folder
.netlify
